/* RESPONSIVE PARA CELULARES */
/* line 144, ../sass/estilo.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 149, ../sass/estilo.scss */
.contenedor {
  height: 100vh;
  background: maroon;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 157, ../sass/estilo.scss */
.card {
  width: 50%;
  height: 400px;
  background: #000;
  display: flex;
}

/* line 164, ../sass/estilo.scss */
.avatar {
  width: 30%;
  height: 400px;
  background: palegoldenrod;
}

/* line 170, ../sass/estilo.scss */
.descripcion {
  width: 70%;
  height: 400px;
  background: rosybrown;
}

/* line 176, ../sass/estilo.scss */
.parrafos {
  height: 70%;
  background: white;
}

/* line 181, ../sass/estilo.scss */
.imagenes {
  height: 30%;
  background: palevioletred;
}
